<div class="container backgroundImage" style="margin-top: 10px;">
    <h3 style="text-align: center; background-color: white;">Add new product for {{vendor?.name}}</h3>
    <div>
        <span style="margin-right: 5px; font-weight: bold; background-color: white;">Name</span>
        <input [(ngModel)]="product.name">
    </div>
    <div style="margin-top: 5px;">
        <span style="margin-right: 10px; font-weight: bold; background-color: white;">Price</span>
        <input [(ngModel)]="product.price">
    </div>
    <button style="float: right; margin-top: 30px; width: 100px; background-color: green; border-color: green;" type="button" class="btn btn-primary px-3" (click)="addProduct()">Add</button>
    <button style="float: left; margin-top: 30px; width: 100px; background-color: black; border-color: black;" type="button" class="btn btn-primary px-3" (click)="close()">Close</button>
</div>