.backgroundImage {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.CGFTmSH7NSCypnMW8f0SLwHaFm%26pid%3DApi&f=1&ipt=5d05fd84b0b3a91eadfb419a0ea1702b808cfbf1d6d5054eac7516db28301091&ipo=images");
    height: 300px;
    width: 500px;
}