<div class="container backgroundImage" style="margin-top: 10px;">
    <h3 style="padding-top: 40px;"></h3>
    <h3 style="text-align: center; background-color: white;">Add new place</h3>
    <div>
        <span style="margin-right: 5px; font-weight: bold; background-color: white;">PlaceNumber</span>
        <input [(ngModel)]="place.placeNr">
        <button style="float: right; width: 100px; background-color: red; border-color: red;" type="button" class="btn btn-primary px-3" (click)="addPlace()">Add</button>
    </div>
    <h3 style="text-align: center; background-color: white; margin-top: 20px;">Add new vendor</h3>
    <div style="margin-top: 5px;">
        <span style="margin-right: 53px; font-weight: bold; background-color: white;">Vendor</span>
        <input [(ngModel)]="vendor.name">
        <button style="float: right; width: 100px; background-color: red; border-color: red;" type="button" class="btn btn-primary px-3" (click)="addVendor()">Add</button>
    </div>
    <button style="float: left; margin-top: 30px; width: 100px; background-color: black; border-color: black;" type="button" class="btn btn-primary px-3" (click)="back()">Close</button>
</div>